@import '../styles/mixin.scss';

.contact-page {
  display: grid;
  place-items: center;
  row-gap: 2rem;
  height: calc(100vh - 20rem);

  @include respond(phone) {
    height: calc(100vh - 30rem);
  }

  &__preference {
    align-self: end;
  }

  &__preference > li {
    // beat animation
    animation: beat 0.5s infinite alternate;
    transform-origin: center;

    // hover
    transition: all 0.1s ease-in-out;
  }
  &__preference > li:hover {
    transform: translateY(-0.5rem);
  }

  &__list {
    align-self: start;
    display: grid;
    grid-auto-flow: column;
    column-gap: 2rem;
  }

  &__list > li {
    transition: all 0.1s ease-in-out;
  }
  &__list > li:hover {
    transform: translateY(0.5rem);
  }

  @keyframes beat {
    to {
      transform: scale(1.1);
    }
  }
}
