@import '../../../../styles/variables.scss';
@import '../../../../styles/mixin.scss';

.footer {
  // position: absolute;
  // bottom: 0;

  display: grid;
  grid-auto-flow: column;
  column-gap: 2rem;
  margin-top: 5rem;
  padding: 2rem;
  width: 100%;

  @include respond(phone) {
    grid-auto-flow: row;
    row-gap: 5rem;
  }

  // ©
  &__left-wrapper {
    color: $color-gray--dark;

    @include respond(phone) {
      display: none;
    }
  }

  // sns
  &__right-wrapper {
    justify-self: end;

    @include respond(phone) {
      display: none;
    }
  }
}
