@import '../styles/variables.scss';
@import '../styles/mixin.scss';

.home-page {
  display: grid;
  place-items: center;
  height: 100vh;

  @include respond(phone) {
    // display: block;
    // padding: 15rem 2rem 5rem;
  }

  &__box {
    position: relative;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 70%;
    max-width: 80rem;
    height: 50%;
    background-color: $bg-secondary--dark;
    border-radius: 10px;

    @include respond(tab-land) {
      grid-template-columns: none;
      grid-template-rows: 70% 1fr;
      width: 60%;
      height: 70%;
    }

    @include respond(phone) {
      grid-template-rows: none;
      width: 100%;
      height: 60%;
      background-color: initial;
    }

    // left-box and right-box
    & > * {
      display: grid;
      place-content: center;
    }
  }

  &__left-box {
    row-gap: 1rem;

    @include respond(tab-land) {
      row-gap: 3rem;
    }

    // private lesson
    & > h3 {
      font-family: 'TradeGothicLTStd-BoldExt';
      font-size: 3rem;
      text-transform: capitalize;

      @include respond(tab-land) {
        font-size: 3.5rem;
      }
    }

    // lesson info
    & > ul {
      display: grid;
      row-gap: 1rem;
      list-style: disc;
      list-style-position: inside;

      @include respond(tab-land) {
        row-gap: 2rem;
        font-size: 2rem;
      }
    }

    // details link wrapper
    & li:last-child {
      list-style: none;
      display: grid;
      grid-auto-flow: column;
      justify-content: start;
      column-gap: 0.7rem;
    }

    // details link
    & a {
      font-style: italic;
      text-decoration: underline;
    }
    & a:hover {
      text-decoration: none;
    }
    // arrow icon
    & a + .icon {
      transition: all 0.2s;
    }
    & a:hover + .icon {
      transform: translateX(0.5rem) translateY(8px);
    }
  }

  &__right-box {
    .button {
      // font-family: 'TradeGothicLTStd-BoldExt';
      font-family: 'FranklinGothicStd-ExtraCond';
      font-size: 2.5rem;
      padding: 1.5rem 5rem 1rem;
      letter-spacing: 2px;

      @include respond(tab-land) {
        font-size: 3rem;
        padding: 1.5rem 8rem 1rem;
      }
    }
  }
}
