// TODO: remove unnecessary ones..
// FONTS
@font-face {
  font-family: 'TradeGothicLT';
  src: local('TradeGothicLT'), url('../asset/fonts/Trade_Gothic_LT.ttf');
  format: ('truetype');
}

@font-face {
  font-family: 'FranklinGothicStd-ExtraCond';
  src: local('FranklinGothicStd-ExtraCond'),
    url('../asset/fonts/Franklin\ Gothic\ Std\ Extra\ Condensed.otf');
  format: ('opentype');
}

@font-face {
  font-family: 'TradeGothicLTStd-BoldExt';
  src: local('TradeGothicLTStd-BoldExt'),
    url('../asset/fonts/TradeGothicLTStd-BoldExt.otf');
  format: ('opentype');
}

@font-face {
  font-family: 'Miller Banner';
  src: local('Miller Banner'), url('../asset/fonts/Miller-Banner-Roman-01.ttf');
  format: ('truetype');
}

@font-face {
  font-family: 'Date Stamp';
  src: local('Date Stamp'), url('../asset/fonts/Date-Stamp.otf');
  format: ('opentype');
}
