// color
$color-blue--dark: rgb(10, 132, 255);
$color-green--dark: rgb(48, 209, 88);
$color-red--dark: rgb(255, 69, 58);
$color-yellow--dark: rgb(255, 214, 10);
$color-apple2--dark: rgb(51, 255, 51);

$color-gray--dark: rgb(142, 142, 147);
$color-gray-2--dark: rgb(99, 99, 102);
$color-gray-3--dark: rgb(72, 72, 74);
$color-gray-4--dark: rgb(58, 58, 60);
$color-gray-5--dark: rgb(44, 44, 46);
$color-gray-6--dark: rgb(28, 28, 30);

// text color
$text-primary--dark: rgb(245, 245, 245);
$text-secondary--dark: rgba(rgb(235, 235, 245), 0.6);
// $text-tertiary--dark:
// $text-quarternary--dark:

// background color
$bg-primary--dark: rgb(0, 0, 0);
$bg-secondary--dark: rgb(28, 28, 30);
$bg-tertiary--dark: rgb(33, 33, 36);

// font size
$font-size-default: 1.6rem;
$font-size-small: 1.2rem;
$font-size-big: 2rem;

// font weight
$font-weight-default: 400;
$font-weight-bold: 600;
$font-weight-ultra-bold: 900;

// border radius
$border-radius: 10px;
