@import '../styles/mixin.scss';

.videos-page {
  padding: 15rem 2rem 0rem 2rem;

  display: grid;
  row-gap: 5rem;

  @include respond(phone) {
  }

  &__video-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem 3rem;

    @include respond(phone) {
      grid-template-columns: none;
    }
  }

  // pagination
  & > .pagination {
    justify-self: center;
  }
}
