@import '../../../../styles/variables.scss';
@import '../../../../styles/mixin.scss';

.ticker {
  position: absolute;
  bottom: 5rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;

  // TODO: temp..
  @include respond(tab-port) {
  }

  @include respond(phone) {
  }

  &__scroll {
  }

  &__scroll > div {
    display: grid;
    grid-auto-flow: column;
    // column-gap: 1ch;
    font-family: 'Date Stamp';
    font-size: 2rem;
    color: $color-apple2--dark;
    text-transform: uppercase;
    animation: ticker 30s linear infinite;
  }
}
