@import '../../../../styles/variables.scss';
@import '../../../../styles/mixin.scss';

.header {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;

  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  padding: 0 4rem;

  // No header on mobile
  @include respond(phone) {
    display: none;
  }

  &__brand-wrapper {
  }

  // brand title
  &__title {
    // font-family: 'TradeGothicLTStd-BoldExt';
    font-size: 16px;
    // text-transform: uppercase;
    line-height: 1.2;
  }

  &__nav {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 4rem;
    font-size: 13px;
    text-transform: uppercase;

    @include respond(phone) {
    }
  }
}
