@import '../../../../styles/variables.scss';

.button {
  display: inline-block;
  padding: 1rem 2rem;
  font-weight: $font-weight-bold;
  border: 1px solid transparent;
  border-radius: $border-radius;
  background: $color-blue--dark;
  color: $text-primary--dark;
  // text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.2s;

  // TODO:
  &:hover,
  &:active {
    filter: brightness(0.9);
  }

  // inverse
  // &--inverse {
  //   border: 1px solid $color-primary;
  //   background: $color-secondary;
  //   color: $color-primary;
  // }

  // &--inverse:hover,
  // &--inverse:active {
  //   color: $color-secondary;
  //   background: $color-primary;
  // }

  // disabled
  &:disabled,
  &:hover:disabled,
  &:active:disabled {
    background: $color-gray--dark;
    color: $color-gray-6--dark;
    border-color: $color-gray-3--dark;
    opacity: 1;
    cursor: not-allowed;
  }

  &--small {
  }

  &--medium {
  }

  &--big {
  }
}
