@import '../../../../styles/variables.scss';
@import '../../../../styles/mixin.scss';

.brand {
  animation: show 0.2s linear;

  &__title {
    font-family: 'TradeGothicLTStd-BoldExt';
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1.2;
  }

  @include respond(phone) {
    position: fixed;
    top: 3rem;
    left: 2rem;
    z-index: 1000;

    &__title {
      font-size: 1.6rem;
    }
  }

  &__sub {
    font-family: 'TradeGothicLTStd-BoldExt';
    font-size: 1.5rem;
    text-transform: uppercase;
    -webkit-text-stroke: 1px $color-gray-6--dark;

    @include respond(phone) {
      font-size: 1.4rem;
    }
  }
}
